body{
	height: 95vh;
	width: 95;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#startButton{
	width: 120px;
	height: 40px;
	font-size: 17px;
	font-weight: bold;
	border-radius: 20px;
}